{{> content_top }}

<div class="col-md-8">
    <article class="blog-post">
        {{#with page.frontmatter}}
        <h1 class="blog-post-title border-bottom">{{title}}</h2>
            <p class="blog-post-meta">{{extra.date}} {{#if extra.author}} by <a
                    href="{{extra.author_page}}">{{extra.author}}</a>{{/if}}
            </p>
            {{/with}}
            {{! Since this is HTML, we use the triple-curly }}
            {{{page.body}}}
            {{ echo "world" }}

    </article>
</div><!-- end col -->

{{> content_sidebar }}
{{> content_bottom }}